body{
  font-size: medium;
  font-family: Tahoma;
  color: red;
  background-color: rgb(35, 4, 75);
  margin: auto;

}
h1{
  font-size: large;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: verdana;


}
img{
  display: flex;
  margin: auto;
}
.f{
  font-size: larger;
  color: purple;
  font-stretch: expanded;
}  
.hobby{
  text-align: center;
  list-style-type: none;
  color:blue;
}
#home{
  text-align: center;
  color: blue;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.btn{
  border-radius: 10em;
  padding-left: 10px;
  background: red;
  cursor: pointer;
  font-size: larger;
}
.popup{
  width:400px ;
  background: blue;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-70%,-70%) scale(0.1);
  text-align: center;
  visibility: hidden;
  
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-70%,-70%) scale(1);
}
.popup image{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
}
.ready{
  color: white;
}